.footer {
    background-color: red; 
    border: 1px solid red;

}

@include bigger-than-1024px {
    .footer {
        &__lists {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
}