.footer {
    background-color: $very-dark-blue; 
    border: 1px solid $very-dark-blue;

}

@include bigger-than-1024px {
    .footer {
        &__lists {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
}