.button {
    background-color: $bright-blue;
    color: $light-grayish-blue;
    // font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;

    border: none;

    &:hover {
        background-color: hsl-with-opacity($bright-blue, 0.7);
    }
}