.first-section {
    width: 100%;
    text-align: center;

    border: 2px solid green;

    &__title {
        font-size: 2em;

        margin-block: 2rem;
    }

    &__desc {
        font-size: 1.2em;
        font-weight: 500;
        color: $desaturated-blue;

        margin-block: 2rem;
    }

    &__input, &__button {
        display: block;
        width: 100%;
        height: 3em;

        border-radius: 4%;

        margin-block: 1rem;
    }

    &__input {
        border: 1px solid black;

        &::placeholder {
            padding: 5%;
            color: $light-gray;
        }
    }
}