.second-section {
    text-align: center;
    width: 100%;

    background: $light-grayish-blue;

    border: 2px solid green;

    &__title {
        font-family: 'Raleway';
        font-size: 1.2em;
        font-weight: 700;
        margin-block: 2rem;
    }

    &__desc {
        font-size: 1.2em;
        font-weight: 500;
        color: $desaturated-blue;

        margin-block: 1rem;
    }

    &__call {
        display: flex;
        justify-content: center;

        margin-bottom: 1rem;
    }

    &__card {
        width: 90%;
        margin: auto;
    }
}

@include bigger-than-1024px {
    .second-section {
        text-align: left;

        &__title {
            font-size: 2em;
        }

        &__desc {
            font-size: 1em;
        }

        &__image {
            width: 30%;
        }

        &__call {
            justify-content: flex-start;
        }

        &__card {
            width: 60%;
            margin: 2em 0 0 0;
        }
    }
}