.second-section {
    text-align: center;
    width: 100%;

    background-image: $desaturated-blue;

    border: 2px solid green;

    &__title {
        font-family: 'Raleway';
        font-size: 1.2em;
        font-weight: 700;
        margin-block: 2rem;
    }

    &__desc {
        font-size: 1.2em;
        font-weight: 500;
        color: $desaturated-blue;

        margin-block: 1rem;
    }

    &__call {
        display: flex;
        justify-content: center;

        margin-bottom: 1rem;

        div {
            padding: 0.5em;

            display: flex;
            justify-content: center;
            gap: 0.5em;
    
            border-bottom: 1px solid $moderate-cyan;

            a {
                font-weight: 500;
                color: $moderate-cyan;
                text-decoration: none;
            }
        }
        
    }

    &__card {
        width: 90%;
        margin: auto;
    }
}